body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('background3.jpg');
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
/* ONLOAD ANIMATIONS */
.firstSlider{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    z-index: 2;
}
.secondSlider{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: tan;
    z-index: 1;
}
/* NAV BAR */
.navBar{
    overflow: hidden;
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
}
.slot{
    padding: 30px;
    display: flex;
    font-size: 25px;
    float: right;
}
.navOptions a{
    float: left;
    display: flex;
    color: lightcyan;
    text-align: center;
    padding: 0px 14px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.dark-mode{
    background-image: url('background.jpg');
}
.dark-mode-icons a{
    color:gray;
}
.slotOption{
    opacity: 80%;
    transition: .2s ease-in-out;
}
.slotOption:hover{
    opacity: 100%;
}
.logo{
    opacity: 80%;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 35px;
    width: 125px;
    transition: .4s ease-in-out;
}
.logo:hover{
    opacity: 100%;
}

.header{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
.header h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:wheat;
    margin-top: 400px;
    font-size: 44px;
    text-shadow: 2px 2px  2px black;
    font-weight: 100;
}
.header input[type=text]{
    height: 40px;
    font-size: 25px;
    width: 80vh;
    margin-bottom: 400px;
    text-shadow: 1px 1px 2px black;
}
.header .search-container button {
    background-color: tan;
    font-size: 30px;
    cursor: pointer;
    border: none;
    border-radius: 70%;
    box-shadow: 2px 2px 8px black;
  }
  
.header .search-container button:hover {
    background:wheat;
}
.headline{
    gap: 6px;
}
.headline::after{
    content: "";
    width: 10px;
    height: 33px;
    background: wheat;
    display: inline-block;
    animation: cursor-blink 1.1s steps(2) infinite;
}
@keyframes cursor-blink{
    0%{
        opacity: 0;
    }
}